<div class="brUCPanelWebchatQueue">
  <div
    data-dojo-type="dijit/layout/BorderContainer"
    data-dojo-attach-point="panelWebchatQueueContainer"
    class="brUCPanelWebchatQueueContainer"
    data-dojo-props="gutters:false, liveSplitters:false"
  >
    <div
      data-dojo-type="dijit/layout/ContentPane"
      data-dojo-attach-point="panelChatList"
      class="brUCPanelChatList"
      data-dojo-props="region:'center'"
    >
      <div
        data-dojo-attach-point="panelWebchatRooms"
        class="brUCPanelWebchatRooms"
      ></div>
    </div>
  </div>
</div>
