<div class="brUCPanelTenantProperty">
  <div
    data-dojo-type="dijit/layout/BorderContainer"
    data-dojo-attach-point="panelTenantPropertyContainer"
    class="brUCPanelTenantPropertyContainer"
    data-dojo-props="gutters:false, liveSplitters:false"
  >
    <div
      data-dojo-type="dijit/layout/ContentPane"
      data-dojo-attach-point="panelTenantPropertyTable"
      class="brUCPanelTenantPropertyTable"
      data-dojo-props="region:'center'"
    >
      <span data-dojo-attach-point="spanMessage" class="brUCSpanMessage"></span>
      <a
        href="javascript:void(0)"
        data-dojo-attach-point="buttonDummy"
        class="brUCButtonDummy"
      >
        &nbsp;
      </a>
      <table class="brUCTableTenantProperty">
        <tr data-dojo-attach-point="trCategoryResource">
          <th colspan="2">${ucMsgs.LBL_CATEGORY_RESOURCE}</th>
        </tr>
        <tr data-dojo-attach-point="trMaxLogin">
          <td>${ucMsgs.LBL_MAX_LOGIN_COLUMN}</td>
          <td>
            <input data-dojo-attach-point="max_login" type="text" />
          </td>
        </tr>
        <tr data-dojo-attach-point="trLimitGuest">
          <td>${ucMsgs.LBL_LIMIT_GUEST_COLUMN}</td>
          <td>
            <input data-dojo-attach-point="limit_guest" type="text" />
          </td>
        </tr>
        <tr data-dojo-attach-point="trCategoryUcTenant">
          <th colspan="2">${ucMsgs.LBL_CATEGORY_UC_TENANT}</th>
        </tr>
        <tr data-dojo-attach-point="trLanguageSetting">
          <td>${ucMsgs.LBL_LANGUAGE_SETTING}</td>
          <td data-dojo-attach-point="tdLanguageSetting">
            <label
              data-dojo-attach-point="labelLanguageSettingAuto"
              class="brUCLabelLanguageSetting"
            >
              <input
                data-dojo-type="dijit/form/RadioButton"
                data-dojo-attach-point="radioButtonLanguageSettingAuto"
                type="radio"
                name="radioButtonLanguageSetting"
                value=""
              />
              ${ucMsgs.LBL_LANGUAGE_SETTING_AUTO}
            </label>
            <label
              data-dojo-attach-point="labelLanguageSettingUser"
              class="brUCLabelLanguageSetting"
            >
              <input
                data-dojo-type="dijit/form/RadioButton"
                data-dojo-attach-point="radioButtonLanguageSettingUser"
                type="radio"
                name="radioButtonLanguageSetting"
                value="user"
              />
              ${ucMsgs.LBL_LANGUAGE_SETTING_USER}
            </label>
          </td>
        </tr>
        <tr data-dojo-attach-point="trUcTenantBuddyMax">
          <td>BUDDY_MAX</td>
          <td>
            <input
              type="text"
              data-dojo-attach-point="inputUcTenantBuddyMax"
              class="brUCInputUcTenantBuddyMax"
            />
          </td>
        </tr>
        <tr data-dojo-attach-point="trSendReportMail">
          <td>${ucMsgs.LBL_UC_SEND_REPORT_MAIL}</td>
          <td>
            <label class="brLabelUnlocked">
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxSendReportMailUnlocked"
                class="brCheckBoxSendReportMailUnlocked"
              ></div>
              ${ucMsgs.LBL_UC_SEND_REPORT_MAIL_UNLOCKED_CHECK}
            </label>
          </td>
        </tr>
        <tr data-dojo-attach-point="trCategoryWebRTC">
          <th colspan="2">${ucMsgs.LBL_CATEGORY_WEBRTC}</th>
        </tr>
        <tr data-dojo-attach-point="trWebRTCTypes">
          <td colspan="2">
            <div>${ucMsgs.LBL_WEBRTC_TYPES}</div>
            <div
              data-dojo-type="dijit/form/Button"
              data-dojo-attach-point="buttonNewWebRTCType"
              class="brUCButtonNewWebRTCType"
              data-dojo-props="title:'${ucMsgs.BTN_NEW_WEBRTC_TYPE_TOOLTIP}'"
            >
              ${ucMsgs.BTN_NEW_WEBRTC_TYPE}
            </div>
            <table class="brUCTableWebRTCTypes">
              <thead>
                <tr>
                  <th class="brUCWebRTCTypeName">
                    ${ucMsgs.LBL_WEBRTC_TYPE_NAME}
                  </th>
                  <th class="brUCWebRTCTypeDescription">
                    ${ucMsgs.LBL_WEBRTC_TYPE_DESCRIPTION}
                  </th>
                  <th class="brUCWebRTCTypeOptions">
                    ${ucMsgs.LBL_WEBRTC_TYPE_OPTIONS}
                  </th>
                  <th class="brUCDeleteWebRTCType"></th>
                </tr>
                <tr>
                  <td class="brUCWebRTCTypeName">
                    (${ucMsgs.LBL_WEBRTC_TYPE_STANDARD})
                  </td>
                  <td class="brUCWebRTCTypeDescription"></td>
                  <td class="brUCWebRTCTypeOptions">{}</td>
                  <td class="brUCDeleteWebRTCType"></td>
                </tr>
              </thead>
              <tbody data-dojo-attach-point="tbodyWebRTCTypes"></tbody>
            </table>
          </td>
        </tr>
        <tr data-dojo-attach-point="trWebRTCTypeName">
          <td>${ucMsgs.LBL_WEBRTC_WEBRTC_TYPE_NAME}</td>
          <td>
            <input
              type="text"
              data-dojo-attach-point="inputWebRTCTypeName"
              class="brUCInputWebRTCTypeName"
            />
            <select
              data-dojo-attach-point="selectWebRTCTypeName"
              class="brUCSelectWebRTCTypeName"
            >
              <option value=""></option>
              <option value=" ">(${ucMsgs.LBL_WEBRTC_TYPE_STANDARD})</option>
            </select>
            <br />
            <label class="brLabelUnlocked">
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxWebRTCTypeNameUnlocked"
                class="brCheckBoxWebRTCTypeNameUnlocked"
              ></div>
              ${ucMsgs.LBL_WEBRTC_UNLOCKED_CHECK}
            </label>
          </td>
        </tr>
        <tr data-dojo-attach-point="trCategoryWebchat">
          <th colspan="2">${ucMsgs.LBL_CATEGORY_WEBCHAT}</th>
        </tr>
        <tr data-dojo-attach-point="trWebchatEnabled">
          <td class="brUCWebchatEnabled">${ucMsgs.LBL_WEBCHAT_ENABLED}</td>
          <td>
            <label>
              <input
                data-dojo-type="dijit/form/RadioButton"
                data-dojo-attach-point="radioButtonWebchatEnabledOn"
                type="radio"
                name="radioButtonWebchatEnabled"
                value="true"
              />
              ${ucMsgs.CMN_ON}
            </label>
            <label>
              <input
                data-dojo-type="dijit/form/RadioButton"
                data-dojo-attach-point="radioButtonWebchatEnabledOff"
                type="radio"
                name="radioButtonWebchatEnabled"
                value="false"
              />
              ${ucMsgs.CMN_OFF}
            </label>
          </td>
        </tr>
        <tr data-dojo-attach-point="trWebchatServices">
          <td colspan="2">
            <div>${ucMsgs.LBL_WEBCHAT_SERVICES}</div>
            <div
              data-dojo-type="dijit/form/Button"
              data-dojo-attach-point="buttonNewWebchatService"
              class="brUCButtonNewWebchatService"
              data-dojo-props="title:'${ucMsgs.BTN_NEW_WEBCHAT_SERVICE_TOOLTIP}'"
            >
              ${ucMsgs.BTN_NEW_WEBCHAT_SERVICE}
            </div>
            <table class="brUCTableWebchatServices">
              <thead>
                <tr>
                  <th class="brUCWebchatServiceId">
                    ${ucMsgs.LBL_WEBCHAT_SERVICE_ID}
                  </th>
                  <th class="brUCWebchatServiceDescription">
                    ${ucMsgs.LBL_WEBCHAT_SERVICE_DESCRIPTION}
                  </th>
                  <th class="brUCDistributionType">
                    ${ucMsgs.LBL_DISTRIBUTION_TYPE}
                  </th>
                  <th
                    class="brUCDistributionTarget"
                    title="* Multiple values can be specified by separating numbers with a comma (,) delimiter. Wildcard (*=any string, ?=any character)."
                  >
                    ${ucMsgs.LBL_DISTRIBUTION_TARGET} *
                  </th>
                  <th class="brUCWebchatServiceOptions">
                    ${ucMsgs.LBL_WEBCHAT_SERVICE_OPTIONS}
                  </th>
                  <th class="brUCDeleteWebchatService"></th>
                </tr>
              </thead>
              <tbody data-dojo-attach-point="tbodyWebchatServices"></tbody>
            </table>
          </td>
        </tr>
        <tr data-dojo-attach-point="trAutoMessages">
          <td colspan="2">
            <div>${ucMsgs.LBL_AUTO_MESSAGES}</div>
            <div
              data-dojo-type="dijit/form/Button"
              data-dojo-attach-point="buttonNewAutoMessage"
              class="brUCButtonNewAutoMessage"
              data-dojo-props="title:'${ucMsgs.BTN_NEW_AUTO_MESSAGE_TOOLTIP}'"
            >
              ${ucMsgs.BTN_NEW_AUTO_MESSAGE}
            </div>
            <table class="brUCTableAutoMessages">
              <thead>
                <tr>
                  <th class="brUCAutoMessageId">
                    ${ucMsgs.LBL_AUTO_MESSAGE_ID}
                  </th>
                  <th class="brUCAutoMessageName">
                    ${ucMsgs.LBL_AUTO_MESSAGE_NAME}
                  </th>
                  <th class="brUCAutoMessageMessage">
                    ${ucMsgs.LBL_AUTO_MESSAGE_MESSAGE}
                  </th>
                  <th class="brUCAutoMessageImage">
                    ${ucMsgs.LBL_AUTO_MESSAGE_IMAGE}
                  </th>
                  <th class="brUCAutoMessageImageImage"></th>
                  <th class="brUCDeleteAutoMessage"></th>
                </tr>
              </thead>
              <tbody data-dojo-attach-point="tbodyAutoMessages"></tbody>
            </table>
          </td>
        </tr>
        <tr data-dojo-attach-point="trAutoMessageDefaultImage">
          <td>${ucMsgs.LBL_AUTO_MESSAGE_DEFAULT_IMAGE}</td>
          <td>
            <span
              data-dojo-attach-point="imgAutoMessageDefaultImage"
              class="brUCImgAutoMessageDefaultImage"
            ></span>
            <div style="display: none">
              <form
                data-dojo-attach-point="formAutoMessageImageForm"
                target="iframeAutoMessageImageForm"
              >
                <input
                  data-dojo-attach-point="inputAutoMessageImageForm"
                  type="file"
                  name="inputAutoMessageImageForm"
                />
              </form>
              <iframe
                data-dojo-attach-point="iframeAutoMessageImageForm"
                name="iframeAutoMessageImageForm"
              ></iframe>
            </div>
            <div
              data-dojo-type="dijit/form/Button"
              data-dojo-attach-point="buttonUploadAutoMessageDefaultImage"
              class="brUCButtonUploadAutoMessageDefaultImage"
              data-dojo-props="title:'${ucMsgs.BTN_IMAGE_SELECT_TOOLTIP}'"
            >
              ${ucMsgs.BTN_IMAGE_SELECT}
            </div>
            <div
              data-dojo-type="dijit/form/Button"
              data-dojo-attach-point="buttonDeleteAutoMessageDefaultImage"
              class="brUCButtonDeleteAutoMessageDefaultImage"
              data-dojo-props="title:'${ucMsgs.BTN_IMAGE_DELETE_TOOLTIP}'"
            >
              ${ucMsgs.BTN_IMAGE_DELETE}
            </div>
          </td>
        </tr>
        <tr data-dojo-attach-point="trWebchatWidgets">
          <td colspan="2">
            <div>${ucMsgs.LBL_WEBCHAT_WIDGETS}</div>
            <div
              data-dojo-type="dijit/form/Button"
              data-dojo-attach-point="buttonNewWebchatWidget"
              class="brUCButtonNewWebchatWidget"
              data-dojo-props="title:'${ucMsgs.BTN_NEW_WEBCHAT_WIDGET_TOOLTIP}'"
            >
              ${ucMsgs.BTN_NEW_WEBCHAT_WIDGET}
            </div>
            <table class="brUCTableWebchatWidgets">
              <thead>
                <tr>
                  <th class="brUCWebchatWidgetUrls">
                    ${ucMsgs.LBL_CHAT_SERVER_URL}
                    <br />
                    ${ucMsgs.LBL_WEBCHAT_WIDGET_DESCRIPTION}
                  </th>
                  <th class="brUCWebchatWidgetService">
                    ${ucMsgs.LBL_WEBCHAT_SERVICE_ID}
                    <br />
                    ${ucMsgs.LBL_WEBCHAT_WIDGET_TYPE}
                  </th>
                  <th class="brUCWebchatWidgetOptions">
                    ${ucMsgs.LBL_WEBCHAT_WIDGET_OPTIONS}
                  </th>
                  <th class="brUCPublishWebchatWidget">
                    ${ucMsgs.LBL_WEBCHAT_WIDGET_PUBLISH}
                  </th>
                  <th class="brUCDeleteWebchatWidget"></th>
                </tr>
              </thead>
              <tbody data-dojo-attach-point="tbodyWebchatWidgets"></tbody>
            </table>
          </td>
        </tr>
        <tr data-dojo-attach-point="trCategoryPN">
          <th colspan="2">${ucMsgs.LBL_CATEGORY_PN}</th>
        </tr>
        <tr data-dojo-attach-point="trLampTypes">
          <td colspan="2">
            <div>${ucMsgs.LBL_LAMP_TYPES}</div>
            <div
              data-dojo-type="dijit/form/Button"
              data-dojo-attach-point="buttonNewLampType"
              class="brUCButtonNewLampType"
              data-dojo-props="title:'${ucMsgs.BTN_NEW_LAMP_TYPE_TOOLTIP}'"
            >
              ${ucMsgs.BTN_NEW_LAMP_TYPE}
            </div>
            <table class="brUCTableLampTypes">
              <thead>
                <tr>
                  <th class="brUCLampTypeName">${ucMsgs.LBL_LAMP_TYPE_NAME}</th>
                  <th class="brUCLampTypeDescription">
                    ${ucMsgs.LBL_LAMP_TYPE_DESCRIPTION}
                  </th>
                  <th class="brUCLampTypeOptions">
                    ${ucMsgs.LBL_LAMP_TYPE_OPTIONS}
                  </th>
                  <th class="brUCDeleteLampType"></th>
                </tr>
                <tr>
                  <td class="brUCLampTypeName">
                    (${ucMsgs.LBL_LAMP_TYPE_STANDARD})
                  </td>
                  <td class="brUCLampTypeDescription"></td>
                  <td class="brUCLampTypeOptions">{}</td>
                  <td class="brUCDeleteLampType"></td>
                </tr>
                <tr>
                  <td class="brUCLampTypeName">
                    (${ucMsgs.LBL_LAMP_TYPE_SILENT})
                  </td>
                  <td class="brUCLampTypeDescription"></td>
                  <td class="brUCLampTypeOptions">{&quot;silent&quot;:true}</td>
                  <td class="brUCDeleteLampType"></td>
                </tr>
              </thead>
              <tbody data-dojo-attach-point="tbodyLampTypes"></tbody>
            </table>
          </td>
        </tr>
        <tr data-dojo-attach-point="trPNEnabled">
          <td class="brUCPNEnabled">${ucMsgs.LBL_PN_ENABLED}</td>
          <td>
            <label>
              <input
                data-dojo-type="dijit/form/RadioButton"
                data-dojo-attach-point="radioButtonPNEnabledOn"
                type="radio"
                name="radioButtonPNEnabled"
                value="true"
              />
              ${ucMsgs.CMN_ON}
            </label>
            <label>
              <input
                data-dojo-type="dijit/form/RadioButton"
                data-dojo-attach-point="radioButtonPNEnabledOff"
                type="radio"
                name="radioButtonPNEnabled"
                value="false"
              />
              ${ucMsgs.CMN_OFF}
            </label>
          </td>
        </tr>
        <tr data-dojo-attach-point="trPNOptions">
          <td class="brUCPNOptions">${ucMsgs.LBL_PN_OPTIONS}</td>
          <td>
            <div
              data-dojo-type="dijit/form/SimpleTextarea"
              data-dojo-attach-point="textAreaPNOptions"
              class="brUCTextAreaPNOptions"
            ></div>
          </td>
        </tr>
        <tr data-dojo-attach-point="trCategoryUserInitial">
          <th colspan="2">${ucMsgs.LBL_CATEGORY_USER_INITIAL}</th>
        </tr>
        <tr data-dojo-attach-point="trStatusOptions">
          <td>${ucMsgs.LBL_USER_INITIAL_STATUS_OPTIONS}</td>
          <td>
            <input
              type="text"
              data-dojo-attach-point="inputStatusOptions"
              class="brUCInputStatusOptions"
            />
            <br />
            <label class="brLabelUnlocked">
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxStatusOptionsUnlocked"
                class="brCheckBoxStatusOptionsUnlocked"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_UNLOCKED_CHECK}
            </label>
          </td>
        </tr>
        <tr data-dojo-attach-point="trDisplayName">
          <td>${ucMsgs.LBL_USER_INITIAL_DISPLAY_NAME}</td>
          <td>
            <input
              type="text"
              data-dojo-attach-point="inputDisplayName"
              class="brUCInputDisplayName"
            />
            <br />
            <label class="brLabelUnlocked">
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxDisplayNameUnlocked"
                class="brCheckBoxDisplayNameUnlocked"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_UNLOCKED_CHECK}
            </label>
          </td>
        </tr>
        <tr data-dojo-attach-point="trSendingConfirmation">
          <td>${ucMsgs.LBL_USER_INITIAL_SENDING_CONFIRMATION}</td>
          <td>
            <label>
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxSendingConfirmation"
                class="brCheckBoxSendingConfirmation"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_SENDING_CONFIRMATION_CHECK}
            </label>
            <br />
            <label class="brLabelUnlocked">
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxSendingConfirmationUnlocked"
                class="brCheckBoxSendingConfirmationUnlocked"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_UNLOCKED_CHECK}
            </label>
          </td>
        </tr>
        <tr data-dojo-attach-point="trNameDisplayMode">
          <td>${ucMsgs.LBL_USER_INITIAL_NAME_DISPLAY_MODE}</td>
          <td>
            <label>
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxNameDisplayMode"
                class="brCheckBoxNameDisplayMode"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_NAME_DISPLAY_MODE_CHECK}
            </label>
            <br />
            <label class="brLabelUnlocked">
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxNameDisplayModeUnlocked"
                class="brCheckBoxNameDisplayModeUnlocked"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_UNLOCKED_CHECK}
            </label>
          </td>
        </tr>
        <tr data-dojo-attach-point="trNotifyCallStatus">
          <td>${ucMsgs.LBL_USER_INITIAL_NOTIFY_CALL_STATUS}</td>
          <td>
            <label>
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxNotifyCallStatus"
                class="brCheckBoxNotifyCallStatus"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_NOTIFY_CALL_STATUS_CHECK}
            </label>
            <br />
            <label class="brLabelUnlocked">
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxNotifyCallStatusUnlocked"
                class="brCheckBoxNotifyCallStatusUnlocked"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_UNLOCKED_CHECK}
            </label>
          </td>
        </tr>
        <tr data-dojo-attach-point="trNotifyConfStatus">
          <td>${ucMsgs.LBL_USER_INITIAL_NOTIFY_CONF_STATUS}</td>
          <td>
            <label>
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxNotifyConfStatus"
                class="brCheckBoxNotifyConfStatus"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_NOTIFY_CONF_STATUS_CHECK}
            </label>
            <br />
            <label class="brLabelUnlocked">
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxNotifyConfStatusUnlocked"
                class="brCheckBoxNotifyConfStatusUnlocked"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_UNLOCKED_CHECK}
            </label>
          </td>
        </tr>
        <tr data-dojo-attach-point="trDtmfShortcut">
          <td>${ucMsgs.LBL_USER_INITIAL_DTMF_SHORTCUT}</td>
          <td>
            <label>
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxDtmfShortcut0"
                class="brCheckBoxDtmfShortcut brCheckBoxDtmfShortcut0"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_DTMF_SHORTCUT_0_CHECK}
            </label>
            <br />
            <label>
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxDtmfShortcut1"
                class="brCheckBoxDtmfShortcut brCheckBoxDtmfShortcut1"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_DTMF_SHORTCUT_1_CHECK}
            </label>
            <br />
            <label>
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxDtmfShortcut3"
                class="brCheckBoxDtmfShortcut brCheckBoxDtmfShortcut3"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_DTMF_SHORTCUT_3_CHECK}
            </label>
            <br />
            <label>
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxDtmfShortcut2"
                class="brCheckBoxDtmfShortcut brCheckBoxDtmfShortcut2"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_DTMF_SHORTCUT_2_CHECK}
            </label>
            <br />
            <label class="brLabelUnlocked">
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxDtmfShortcutUnlocked"
                class="brCheckBoxDtmfShortcutUnlocked"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_UNLOCKED_CHECK}
            </label>
          </td>
        </tr>
        <tr data-dojo-attach-point="trDisplayPeriod">
          <td>${ucMsgs.LBL_USER_INITIAL_DISPLAY_PERIOD}</td>
          <td>
            <input
              type="text"
              data-dojo-attach-point="inputDisplayPeriod"
              class="brUCInputDisplayPeriod"
            />
            <br />
            <label class="brLabelUnlocked">
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxDisplayPeriodUnlocked"
                class="brCheckBoxDisplayPeriodUnlocked"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_UNLOCKED_CHECK}
            </label>
          </td>
        </tr>
        <tr data-dojo-attach-point="trChatBgColor">
          <td>${ucMsgs.LBL_USER_INITIAL_CHAT_BG_COLOR}</td>
          <td>
            <div
              data-dojo-type="dijit/form/SimpleTextarea"
              data-dojo-attach-point="textAreaChatBgColor"
              class="brUCTextAreaChatBgColor"
            ></div>
            <br />
            <label class="brLabelUnlocked">
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxChatBgColorUnlocked"
                class="brCheckBoxChatBgColorUnlocked"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_UNLOCKED_CHECK}
            </label>
          </td>
        </tr>
        <tr data-dojo-attach-point="trDbgopt">
          <td>${ucMsgs.LBL_USER_INITIAL_DBGOPT}</td>
          <td>
            <input
              type="text"
              data-dojo-attach-point="inputDbgopt"
              class="brUCInputDbgopt"
            />
            <br />
            <label class="brLabelUnlocked">
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxDbgoptUnlocked"
                class="brCheckBoxDbgoptUnlocked"
              ></div>
              ${ucMsgs.LBL_USER_INITIAL_UNLOCKED_CHECK}
            </label>
          </td>
        </tr>
        <tr data-dojo-attach-point="trCategoryFileSending">
          <th colspan="2">${ucMsgs.LBL_CATEGORY_FILE_SENDING}</th>
        </tr>
        <tr data-dojo-attach-point="trFileSendingPermission">
          <td>${ucMsgs.LBL_FILE_SENDING_PERMISSION}</td>
          <td>
            <label>
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxFileSendingPermission98"
                class="brCheckBoxFileSendingPermission brCheckBoxFileSendingPermission98"
              ></div>
              ${ucMsgs.LBL_FILE_SENDING_PERMISSION_UC_CHECK}
            </label>
            <br />
            <label>
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxFileSendingPermission28"
                class="brCheckBoxFileSendingPermission brCheckBoxFileSendingPermission28"
              ></div>
              ${ucMsgs.LBL_FILE_SENDING_PERMISSION_CIM_CHECK}
            </label>
            <br />
            <label>
              <div
                data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="checkBoxFileSendingPermission1"
                class="brCheckBoxFileSendingPermission brCheckBoxFileSendingPermission1"
              ></div>
              ${ucMsgs.LBL_FILE_SENDING_PERMISSION_GUEST_CHECK}
            </label>
          </td>
        </tr>
        <tr data-dojo-attach-point="trFileSendingMaxSize">
          <td>${ucMsgs.LBL_FILE_SENDING_MAX_SIZE}</td>
          <td>
            <input
              type="text"
              data-dojo-attach-point="inputFileSendingMaxSize"
              class="brUCInputFileSendingMaxSize"
            />
          </td>
        </tr>
        <tr data-dojo-attach-point="trFileSendingNameAllowed">
          <td>${ucMsgs.LBL_FILE_SENDING_NAME_ALLOWED}</td>
          <td>
            <input
              type="text"
              data-dojo-attach-point="inputFileSendingNameAllowed"
              class="brUCInputFileSendingNameAllowed"
            />
          </td>
        </tr>
        <tr data-dojo-attach-point="trCategoryClientScript">
          <th colspan="2">${ucMsgs.LBL_CATEGORY_CLIENT_SCRIPT}</th>
        </tr>
        <tr data-dojo-attach-point="trClientScript">
          <td>${ucMsgs.LBL_CLIENT_SCRIPT_CLIENT_SCRIPT}</td>
          <td>
            <div
              data-dojo-type="dijit/form/SimpleTextarea"
              data-dojo-attach-point="textAreaClientScript"
              class="brUCTextAreaClientScript"
            ></div>
          </td>
        </tr>
        <tr data-dojo-attach-point="trCategoryCustomizeT">
          <th colspan="2">告知情報管理</th>
        </tr>
        <tr data-dojo-attach-point="trCustomizeTError" style="display: none">
          <td colspan="2">
            <div>告知メッセージ</div>
            <div
              data-dojo-type="dijit/form/Button"
              class="brUCButtonNewCustomizeT"
              data-dojo-props="title:'新規メッセージ'"
              disabled="true"
            >
              新規メッセージ
            </div>
            <table class="brUCTableCustomizeTs">
              <thead>
                <tr>
                  <th class="brUCCustomizeTIdx">優先順</th>
                  <th class="brUCCustomizeTSchedule">スケジュール</th>
                  <th class="brUCCustomizeTService">サービス</th>
                  <th class="brUCCustomizeTMessage">メッセージ</th>
                  <th class="brUCDeleteCustomizeT"></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </td>
        </tr>
        <tr data-dojo-attach-point="trCustomizeTs">
          <td colspan="2">
            <div>告知メッセージ</div>
            <div
              data-dojo-type="dijit/form/Button"
              data-dojo-attach-point="buttonNewCustomizeT"
              class="brUCButtonNewCustomizeT"
              data-dojo-props="title:'新規メッセージ'"
            >
              新規メッセージ
            </div>
            <table class="brUCTableCustomizeTs">
              <thead>
                <tr>
                  <th class="brUCCustomizeTIdx">優先順</th>
                  <th class="brUCCustomizeTSchedule">スケジュール</th>
                  <th class="brUCCustomizeTService">サービス</th>
                  <th class="brUCCustomizeTMessage">メッセージ</th>
                  <th class="brUCDeleteCustomizeT"></th>
                </tr>
              </thead>
              <tbody data-dojo-attach-point="tbodyCustomizeTs"></tbody>
            </table>
          </td>
        </tr>
      </table>
      <div
        data-dojo-type="dijit/form/Button"
        data-dojo-attach-point="buttonSaveTenantProperty"
        class="brUCFormButton brUCChatButton brUCButtonLeft brUCButtonSaveTenantProperty"
        data-dojo-props="iconClass:'brUCIconSaveTenantProperty', title:'${ucMsgs.CMN_SAVE}'"
      >
        ${ucMsgs.CMN_SAVE}
      </div>
      <!--
            -->
      <div
        data-dojo-type="dijit/form/Button"
        data-dojo-attach-point="buttonCancelTenantProperty"
        class="brUCFormButton brUCChatButton brUCButtonRight brUCButtonCancelTenantProperty"
        data-dojo-props="iconClass:'brUCIconCancelTenantProperty', title:'${ucMsgs.CMN_CLOSE}'"
      >
        ${ucMsgs.CMN_CLOSE}
      </div>
    </div>
  </div>
</div>
