.brOC .autoDialView {
  position: absolute;
  top: var(--headerHeight);
  right: 0;
  margin-top: 0;
  border-radius: var(--defaultBorderRadius);
  background-color: initial;
  z-index: 111;
}

.brOC .autoDialView > table {
  background-color: var(--defaultOutsideBgColor);
  animation-duration: 0.5s;
  animation-name: AutoDialViewTableSlideIn;
}

@keyframes AutoDialViewTableSlideIn {
  0% {
    margin-left: 100%;
    opacity: 0;
  }
  100% {
    margin-left: 0%;
    opacity: 1;
  }
}

/*.brOC .autoDialView{*/
/*    --scroll-bar: unset;*/
/*}*/

/*.brOC .autoDialView::-webkit-scrollbar {*/
/*    display: unset;*/
/*}*/

.brOC .autoDialView li.tab {
  padding: var(--defaultItemVSpace) var(--defaultOutsideSpace);
}

.brOC .autoDialView ul li:first-child {
  border-radius: var(--defaultBorderRadius) 0px 0px 0px;
}

.brOC .autoDialView ul li:last-child {
  border-radius: 0px var(--defaultBorderRadius) 0px 0px;
}

.brOC .autoDialView li {
  background-color: var(--defaultInsideBgColor);
}

.brOC .tab-panel {
  height: 100%;
}

.brOC .tab-group {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.brOC .tab {
  flex-grow: 1;
  padding: var(--defaultItemVSpace) var(--defaultItemHSpace);
  list-style: none;
  border: solid 1px var(--defaultBorderColor);
  text-align: center;
  cursor: pointer;
}
.brOC .panel-group {
  height: 100%;
  border: solid 1px #ccc;
  border-top: none;
  /* background:#eee; */
}
.brOC .panel {
  display: none;
}
.brOC .tab.is-active {
  background: #5c9842;
  color: #fff;
  transition: all 0.2s ease-out;
}
.brOC .panel.is-show {
  display: block;
}

.brOC div.autoDialView_ver2_tableParent {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.brOC div.autoDialView_ver2_tableParent > table {
  overflow: unset;
}

.brOC div.autoDialView_ver2_tableParent > table > thead > tr > th {
  position: sticky;
  left: 0;
  top: 0;
  white-space: nowrap;
  z-index: 1;
  background-color: var(--defaultTHBackgroundColor);
}

.brOC
  .defaultContentTable
  > tbody
  > tr
  > td.paddingTopZeroImportant_AutoDialView_ver2 {
  padding-top: 0 !important;
}

.brOC .addContact_AutoDialView_ver2 {
  background-color: unset !important;
}

.brOC .addContact_AutoDialView_ver2:hover {
  background-color: unset !important;
}
