.brOC .phonebookContactInfozTelsView {
  position: absolute;
  right: 0;
  top: var(--headerHeight);
  border-radius: var(--defaultBorderRadius);
  margin-top: 0;
  background-color: initial;
  z-index: 113;
}

.brOC .phonebookContactInfozTelsView > table {
  background-color: var(--defaultOutsideBgColor);
  animation-duration: 0.5s;
  animation-name: phonebookContactInfozTelsViewTableSlideIn;
}

/*.brOC table.phonebookContactInfozTelsViewInsideTable{*/
/*    background-color: var(--defaultInsideBgColor);*/
/*}*/

@keyframes phonebookContactInfozTelsViewTableSlideIn {
  0% {
    margin-left: 100%;
    opacity: 0;
  }
  100% {
    margin-left: 0%;
    opacity: 1;
  }
}

.brOC th.displayNameTitleTh {
  background-color: #5c9842;
  color: #ffffff;
  padding-top: var(--defaultItemVSpace) !important;
}
