<div class="brUCPanelHistory">
  <div
    data-dojo-type="dijit/layout/BorderContainer"
    data-dojo-attach-point="panelHistoryContainer"
    class="brUCPanelHistoryContainer"
    data-dojo-props="gutters:false, liveSplitters:false"
  >
    <div
      data-dojo-type="dijit/layout/ContentPane"
      data-dojo-attach-point="panelHistoryHeader"
      class="brUCPanelHistoryHeader"
      data-dojo-props="region:'top', splitter:true"
    >
      <div
        data-dojo-type="dijit/layout/BorderContainer"
        data-dojo-props="gutters:false, liveSplitters:false"
      >
        <div
          data-dojo-type="dijit/layout/ContentPane"
          data-dojo-attach-point="panelHistoryHeaderDate"
          class="brUCPanelHistoryHeaderDate"
          data-dojo-props="region:'left'"
        >
          <div
            data-dojo-type="dijit/form/DateTextBox"
            data-dojo-attach-point="dateTextBoxSearchTopics"
            data-dojo-props="placeHolder:'Choose a date'"
          ></div>
          <div
            data-dojo-attach-point="imgSearchTopics"
            class="brUCImgSearchTopics"
          ></div>
        </div>
        <div
          data-dojo-type="dijit/layout/ContentPane"
          data-dojo-attach-point="panelHistoryHeaderTopics"
          class="brUCPanelHistoryHeaderTopics"
          data-dojo-props="region:'center'"
        >
          <table data-dojo-attach-point="tableHistoryHeaderTopics"></table>
        </div>
      </div>
    </div>
    <div
      data-dojo-type="dijit/layout/ContentPane"
      data-dojo-attach-point="panelChatList"
      class="brUCPanelChatList"
      data-dojo-props="region:'center'"
    >
      <div
        data-dojo-attach-point="panelMessages"
        class="brUCPanelMessages"
      ></div>
    </div>
  </div>
</div>
